<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.electrocraft.nirzo.pluse">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".controller.application.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="pulse_db.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.electrocraft.nirzo.pluse.model.dba.User,             com.electrocraft.nirzo.pluse.model.dba.PatientUser,              com.electrocraft.nirzo.pluse.model.deserialization.PatientShortInfo,             com.electrocraft.nirzo.pluse.model.deserialization.DocAppointments" />

        <activity android:name=".view.MainActivity" />
        <activity
            android:name=".view.activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden">


        </activity>
        <activity
            android:name=".view.activity.patient.PatientHomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme">
            <!--   <intent-filter>
                         <action android:name="android.intent.action.MAIN" />

                         <category android:name="android.intent.category.LAUNCHER" />
                     </intent-filter>-->

        </activity>
        <activity android:name=".view.activity.patient.SignUpEmailActivity" />
        <activity android:name=".view.activity.patient.PatientOtpActivity" />
        <activity android:name=".view.activity.patient.SexNDobRegActivity" />
        <activity android:name=".view.activity.doctor.DocRegistrationActivity" />
        <activity
            android:name=".view.activity.patient.PtSeeDoctorProfileActivity"
            android:theme="@style/DefaultActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>
        <activity android:name=".view.activity.patient.PtAppointBookActivity" />
        <activity android:name=".view.activity.doctor.DoctorHomeActivity" />
        <activity android:name=".controller.network.NotifySMSReceived">
            <intent-filter>
                <action android:name="click_action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".controller.receive.DoctorReceiver">
            <intent-filter>
                <action android:name="com.tutorialspoint.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>

        <!-- //Register Service in manifest for Token Refresh -->

        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.activity.LoginAsActivity"></activity>
        <activity android:name=".view.activity.doctor.DoctorPrescription" />
    </application>

</manifest>